apiVersion: apps/v1
kind: Deployment
metadata:
  name: vote-deployment
  namespace: dilivio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: vote-deployment
  template:
    metadata:
      labels:
        app: vote-deployment
    spec:
      containers:
      - name: vote-container
        image: diliviosantos/k8-vote:1.0
        ports:
        - containerPort: 80
        env:
          - name: REDIS_HOST
            value: "redis-service"
          - name: REDIS_PORT
            value: "6379"
        resources:          # <-- HIER komen de resource limits
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
