name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2
        
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        
    - name: Build and push Vote image
      uses: docker/build-push-action@v5
      with:
        context: ./ironhack-project-1/vote
        push: true
        tags: diliviosantos/vote-k8:latest
        
    - name: Build and push Result image
      uses: docker/build-push-action@v5
      with:
        context: ./ironhack-project-1/result
        push: true
        tags: diliviosantos/result-k8:latest
        
    - name: Build and push Worker image
      uses: docker/build-push-action@v5
      with:
        context: ./ironhack-project-1/worker
        push: true
        tags: diliviosantos/worker-k8:latest
        
    - name: Install eksctl
      run: |
        curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | tar xz -C /tmp
        sudo mv /tmp/eksctl /usr/local/bin
        
    - name: Update Kubeconfig
      run: eksctl utils write-kubeconfig --cluster ironhack-main --region us-east-2
      
    - name: Apply Kubernetes Manifests
      run: kubectl apply -f ironhack-project-1/k8s/ -n dilivio